.main-page{
  &__controls{
    padding: 15px;
    >button:nth-child(1){
      padding: 10px;
      margin-bottom: 10px;
    }
    >button:nth-child(2){
      margin-left: 20px;
    }
  }
  &__title{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .btn-slide{
    margin-bottom: 20px;
    .mat-icon{
      margin-right: 10px;
    }
  }
  &__title-block{
    text-align: center;
    button{
      margin: 20px auto;
    }
  }
}

