<div
  class="main-page"
>
  <h1 class="main-page__title">{{slideTitle}}</h1>
  <app-swiper
    [slides]="mainService.slides"
    [slideTemplate]="slideTmpl"
    [slideControlTpl]="slideControlTpl"
    (slideChange)="sliderTitleEmit($event)"
  >
  </app-swiper>
  <ng-template #slideTmpl let-slideData="slideData">
    <!--    <h1>{{slideData.title}}</h1>-->
    <button class="common-shadow-box
    common-btn
    common-gradient-red btn-slide"
            (click)="routerPush(slideData.url)">
      <mat-icon
        aria-hidden="false"
        aria-label=""
      >
        {{slideData.icon}}
      </mat-icon>
      {{slideData.title}}
    </button>
  </ng-template>

  <ng-template #slideControlTpl>
    <div class="main-page__controls">
      <button class="common-shadow-box
      common-btn
      main-slide__left l
      common-btn-circle
      common-gradient-red">
        <mat-icon
          aria-hidden="false"
          aria-label=""
        >
          arrow_back_ios
        </mat-icon>
      </button>
      <button class="common-shadow-box
      common-btn
      main-slide__right r
      common-btn-circle
      common-gradient-red">
        <mat-icon
          aria-hidden="false"
          aria-label=""
        >
          arrow_forward_ios
        </mat-icon>
      </button>
    </div>
  </ng-template>
</div>
