<div class="shop-cop app">

  <ng-container *ngIf="appIsStart; then contentBlock; else titleBlock"></ng-container>
  <ng-template #titleBlock>
    <div class="app__title-block">
      <h1>Это небольшое приложение позволяющее следить за <strong>тратами при покупках!)</strong></h1>
      <button
        class="common-shadow-box
          common-btn
          common-gradient-red btn-slide"
        (click)="setStartApp(true)">
        <!--      <mat-icon-->
        <!--        aria-hidden="false"-->
        <!--        aria-label=""-->
        <!--      >-->

        <!--      </mat-icon>-->
        GO!
      </button>
    </div>
  </ng-template>
  <ng-template #contentBlock>
    <div class="controls-block">
      <!--    <a routerLink="/" mat-tab-link>Главная</a>-->
      <!--    <mat-icon-->
      <!--      aria-hidden="false"-->
      <!--      aria-label=""-->
      <!--    >-->
      <!--      arrow_back_ios-->
      <!--    </mat-icon>-->
      <div *ngIf="routerService.btnControlsDisabled && setTitle" class="controls-block__add">
        <button
          [disabled]="!addBtnDisable"
          (click)="commonService.btnControlNext('save')"
          mat-raised-button
          class="common-btn common-gradient-red check-list__btn common-shadow-box"
        >Сохранить</button>
        <button
          *ngIf="addBtnDisable"
          (click)="commonService.btnControlNext('add')"
          mat-raised-button
          class="common-btn common-gradient-red check-list__btn common-shadow-box"
        >Добавить поле</button>
      </div>
      <button
        routerLink="/"
        mat-tab-link
        class="common-shadow-box
        common-btn
        main-slide__right
        common-gradient-red"
      >
        <mat-icon
          aria-hidden="false"
          aria-label=""
        >
          arrow_back
        </mat-icon>
      </button>
    </div>
    <div class="app-container">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-template>
<!--  <div class="controls-block">-->
<!--    &lt;!&ndash;    <a routerLink="/" mat-tab-link>Главная</a>&ndash;&gt;-->
<!--    &lt;!&ndash;    <mat-icon&ndash;&gt;-->
<!--    &lt;!&ndash;      aria-hidden="false"&ndash;&gt;-->
<!--    &lt;!&ndash;      aria-label=""&ndash;&gt;-->
<!--    &lt;!&ndash;    >&ndash;&gt;-->
<!--    &lt;!&ndash;      arrow_back_ios&ndash;&gt;-->
<!--    &lt;!&ndash;    </mat-icon>&ndash;&gt;-->
<!--    <div *ngIf="routerService.btnControlsDisabled && setTitle" class="controls-block__add">-->
<!--      <button-->
<!--        [disabled]="!addBtnDisable"-->
<!--        (click)="commonService.btnControlNext('save')"-->
<!--        mat-raised-button-->
<!--        class="common-btn common-gradient-red check-list__btn common-shadow-box"-->
<!--      >Сохранить</button>-->
<!--      <button-->
<!--        *ngIf="addBtnDisable"-->
<!--        (click)="commonService.btnControlNext('add')"-->
<!--        mat-raised-button-->
<!--        class="common-btn common-gradient-red check-list__btn common-shadow-box"-->
<!--      >Добавить поле</button>-->
<!--    </div>-->
<!--    <button-->
<!--      routerLink="/"-->
<!--      mat-tab-link-->
<!--      class="common-shadow-box-->
<!--        common-btn-->
<!--        main-slide__right-->
<!--        common-gradient-red"-->
<!--    >-->
<!--      <mat-icon-->
<!--        aria-hidden="false"-->
<!--        aria-label=""-->
<!--      >-->
<!--        arrow_back-->
<!--      </mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="app-container">-->
<!--    <div class="container">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--  </div>-->
</div>
