@import "../../../../assets/scss/vars";
.app{
  //height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  width: 100%;
  height: 100%;
  max-height: 900px;
  min-height: 500px;
  max-width: 400px;
  margin: auto;
  position: relative;
  &-container{
    height: 100%;
    display: flex;
    align-items: center;
  }
  .controls-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: $basic-bg;
    &__add{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      button{
        padding: 10px 15px;
      }
    }
  }
  &__title-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
  }
}
