<div class="check-list">
  <form [formGroup]="formTitle" (submit)="saveAll()" >
    <div class="row align-items-baseline">
      <div class="col-lg-12">
        Название чека
      </div>
      <div class="col-lg-12">
        <mat-form-field class="w-100 example-full-width" >
          <mat-label>Название чека</mat-label>
          <input
            (input)="inputTitleField()"
            formControlName="listName" type="text" matInput>
        </mat-form-field>
      </div>
    </div>
  </form>
  <form
    *ngIf="formTitle.valid && formFields"
    [formGroup]="formFields">
    <div class="row align-items-baseline common-scroll-box">
<!--      <form-->
<!--        *ngFor="let formItem of formFields | GetFormsFields; let i=index"-->
<!--        class="col-lg-10"-->
<!--        formArrayName="listItems"-->
<!--      >-->
      <div
        *ngFor="let formItem of formFields | GetFormsFields; let i=index"
        class="col-lg-12 check-list__item"
        formArrayName="listItems"
      >
        <mat-card>
          <div class="row" [formGroupName]="i">
            <ng-container *ngIf="((commonStore$.currentCheckFields$ | async) | isEdit:i); then editTpl; else viewTpl"></ng-container>
            <ng-template #editTpl>
              <div class="col-lg-4">
                <mat-form-field class="w-100 example-full-width" >
                  <mat-label>Название</mat-label>
                  <input (input)="inputField()" formControlName="checkPriceName" type="text" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field class="w-100 example-full-width" >
                  <mat-label>Цена</mat-label>
                  <input (input)="inputField()" formControlName="checkPriceValue" type="number" matInput>
                </mat-form-field>
              </div>
              <div class="col-lg-12">
                <ng-container *ngIf="((commonStore$.currentCheckFields$ | async) | isSavedItem:i); then addBtn; else updBtn">
                </ng-container>

                <ng-template #updBtn>
                  <!--              <button *ngIf="formItem.status === 'VALID'" (click)="addNewFieldValue(i, formItem)">add value</button>-->
                </ng-template>

                <ng-template #addBtn>
                  <!--                <button *ngIf="formItem.status === 'VALID'" (click)="updateFieldValue(i, formItem)">update value</button>-->
                  <button (click)="editFieldValue(i, formItem)" mat-fab class="common-red check-list__item-btn">
                    <mat-icon>edit</mat-icon>
                  </button>
                </ng-template>

                <button (click)="removeField(i)" mat-fab class="common-red">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </ng-template>
            <ng-template #viewTpl>
              <div class="col-lg-4">
                <p class="check-list__name-field">Имя: <strong>{{formItem.value.checkPriceName}}</strong></p>
              </div>
              <div class="col-lg-6">
                <p class="check-list__name-field">Цена: <strong>{{formItem.value.checkPriceValue}}р.</strong></p>
              </div>
              <div class="col-lg-12">
<!--                <button [disabled]="editControlsDisable" (click)="editFieldValue(i)">edit ss</button>-->
                <button [disabled]="editControlsDisable" (click)="editFieldValue(i)" mat-fab class="common-red check-list__item-btn">
                  <mat-icon>edit</mat-icon>
                </button>
                <button (click)="removeField(i)" mat-fab class="common-red check-list__item-btn">
                  <mat-icon>delete</mat-icon>
                </button>
                <button (click)="setCheckImage(i)" mat-fab class="common-red">
                  <mat-icon>add_a_photo</mat-icon>
                </button>
              </div>
            </ng-template>
          </div>
        </mat-card>
    </div>
      </div>
  </form>
</div>
