
body { margin: 0; font-family: 'Comfortaa', cursive;}
body{
  background: $basic-bg;
  //&:after{
  //  content: "";
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  top: 0;
  //  left: 0;
  //  background-color: rgba(0,0,0,0.2);
  //  background-image: url(../images/bg-2.jpg);
  //  background-size: cover;
  //  background-position: 50% 100%;
  //}
}

.app-root{
  display: flex;
  width: 100%;
  height: 100%;
}
.common-gradient-basic{
  background: $basic-gradient;
}
.common-gradient-blue{
  background: $blue-gradient;
}
.common-gradient-red{
  background: $red-gradient;
}
.common-red{
  background-color: $red !important;
}
.common-shadow-box{
  box-shadow: 10px 12px 10px 0px rgb(189 189 189 / 77%);
}
.common-btn{
  outline: none !important;
  border: none !important;
  color: #fff !important;
  display: flex !important;
  padding: 20px;
  border-radius: 15px;
}
.common-btn-circle{
  // padding: 0;
  border-radius: 50%;
}
.common-scroll-box{
  max-height: 50vh;
  overflow-y: auto;
}
video{
  width: 100%;
}
