$basic-bg: #f3f3f2;
$basic-color: #00f7cf;
$basic-gradient:  linear-gradient(120deg, #020024 10%, #00f7cf 120%);
$blue-gradient: linear-gradient(120deg, #6158f1 10%, #00f7cf 120%);
$red-gradient: linear-gradient(125deg, #6158f1 30%, #e35757 90%);
$red: #e35757;
