<div>
  <div class="webcam-container">
    <ng-container *ngIf="isWebcamOpen; then webcamBox; else imageBox">
    </ng-container>
    <ng-template #webcamBox>
      <div
        class="webcam-container__webcam-box"
        #webcam>
        <div class="row">
          <div class="col-12">
            <h2>Добавить изображение чека</h2>
            <mat-spinner
              class="webcam-container__spinner"
              [diameter]="30"
            ></mat-spinner>
            <webcam
              [height]="500"
              [width]="500"
              (imageCapture)="cameraService.handleImage($event)"
              *ngIf="cameraService.showWebcam"
              [allowCameraSwitch]="cameraService.allowCameraSwitch"
              [videoOptions]="cameraService.videoOptions"
              [imageQuality]="1"
              [switchCamera]="nextWebcamObservable"
              [trigger]="triggerObservable"
              (cameraSwitched)="cameraService.cameraWasSwitched($event)"
              (initError)="cameraService.handleInitError($event)"
            ></webcam>
          </div>
        </div>
        <div class="col-12">
          <button
            (click)="cameraService.triggerSnapshot();"
            mat-fab class="common-red webcam-container__btn">
            <mat-icon>photo_camera</mat-icon>
          </button>
          <button
            (click)="cameraService.toggleWebcam();"
            mat-fab class="common-red webcam-container__btn">
            <mat-icon>cameraswitch</mat-icon>
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template #imageBox>
      <div class="webcam-container__image-box">
        <div class="webcam-container__snapshot" *ngIf="cameraService.currentImage && cameraService.currentImage !== ''">
          <h2>Текущее изображение чека</h2>
          <img [src]="cameraService.currentImage"/>
        </div>
      </div>
    </ng-template>
    <mat-slide-toggle
      *ngIf="cameraService.currentImage"
      class="slide-toggle"
      [color]="'primary'"
      [checked]="isWebcamOpen"
      (change)="changeLayout($event)"
    >
      (камера/изображение)
    </mat-slide-toggle>
  </div>
</div>
