.webcam-container{
  .webcam-wrapper{
    width: 100%;
  }
  &__image-box{
    img{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &__webcam-box{
  }
  &__btn{
    margin-bottom: 20px;
    margin-right: 15px;
  }
  &__spinner{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
video{
  width: 100%;
}
