<div class="history-page">

  <ng-container *ngIf="(historyChecksList$ | async).length !== 0; then fullList; else emptyList"></ng-container>

  <ng-template #emptyList>
    <h1>Пока что тут ничего нет</h1>
  </ng-template>

  <ng-template #fullList>
    <h1>Сохраненные чеки</h1>
    <div class="common-scroll-box">
      <div
        class="history-page__item"
        *ngFor="let item of historyChecksList$ | async; let i=index"
      >
        <mat-card>
          <h3>Название чека: <strong>{{item.title}}</strong></h3>
          <div
            class="history-page__item-block"
          >
            <p>Дата добавления: <strong>{{item.date | Moment }}</strong></p>
            <button (click)="setCurrent(item)" mat-fab class="common-red history-page__btn">
              <mat-icon>edit</mat-icon>
            </button>

            <button (click)="removeCheckItem(item.id)" mat-fab class="common-red history-page__btn">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </mat-card>
      </div>
    </div>
  </ng-template>
</div>
