<div class="common-swiper">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="50"
    [navigation]="navigation"
    [loop]="true"
    (activeIndexChange)="onSlideChange($event)"
  >
    <ng-template *ngFor="let slide of slides" swiperSlide>
      <ng-container *ngTemplateOutlet="slideTemplate; context:{slideData:slide}"></ng-container>
    </ng-template>
  </swiper>
  <ng-container *ngTemplateOutlet="slideControlTpl"></ng-container>
</div>
